[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "MPMessagePack"]
	path = MPMessagePack
	url = https://github.com/gabriel/MPMessagePack.git